*{
  margin:0;
  padding:0;
}

.header{
  heaight: 100vh;

}

.logo{
  height: 100px;
  padding:2px;
}

p{
  font-size: 52px;
  margin: 20px 0;
  color: darkred;
}

.icon-bar{
  background-color: yellow;
}
